<div class="top-bar">
  <div class="top-left">
    <span id="reloj">Lunes, 07.07.2025 / 00:28</span>
  </div>
  <div class="top-right">
    <span>Hoy interesa:</span>
    <a href="#">Selección Mexicana</a> •
    <a href="#">LCDLF</a> •
    <a href="#">Alejandro Armenta</a> •
    <a href="#">Caro Quintero</a> •
    <a href="#">Hermosillo</a> •
    <a href="#">MasterChef</a> •
    <a href="#">Balón de Oro</a> •
    <a href="#">MLB</a> •
    <a href="#">Plan México</a> •
    <a href="#">Inundaciones en Texas</a>
  </div>
</div>

<header class="main-header">
  <div class="nav-left">
    <button class="menu-btn">&#9776;</button>
    <span class="menu-text">Secciones</span>
    <span class="divider">|</span>
  </div>

  <div class="logo">
    <h1>NOTICIAS PRUEBA</h1>
  </div>

  <div class="nav-right">
    <button id="loginBtn" class="nav-btn">INICIAR SESIÓN</button>
    <button id="registerBtn" class="nav-btn">REGÍSTRATE</button>
  </div>
</header>
